# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


backend/__pycache__
*.ipynb

# Ignoring some of the python files
**/mps_test.py
**/retrieve_local.py
**/openai_key.py